* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#card { 
    display: inline;
}

#img {  
    width: 200px;
    height: 300px;
}

#id {  
    display: inline;
}

#heading-text {  
    display: inline;
}

.txt {  
    display: inline;
}